<div >
    <h1>TEAM</h1>
    <input type="text" id="myInput" (keyup)="myFunction()" placeholder="Search for names..">
    
          <table id="myTable">
              <tr class="header">
                <th style="width:5%;">ID</th>
                <th style="width:30%;">TEAM NAME</th>
                <th style="width:45%;">LOGO</th>
                <th style="width:10%;">detail1</th>
                <th style="width:10%;">detail2</th>
              </tr>
              <tr *ngFor="let team of teams">
                <td>{{team.id}}</td>
                <td>{{team.name}}</td>
                <td><img src="https://squiggle.com.au/{{team.logo}}"></td>
                <td>
                  <button type="button" (click)="onSelectTeam(team)">detail</button>
                </td>
                <td>
                    <button type="button" (click)="onSelectGame(game)">detail2</button>
                  </td>
              </tr>
            </table>
  </div>
<div><app-teamchild [team]="selectedTeam"></app-teamchild></div>
<div><app-test-git [game]="selectedGame"></app-test-git></div>
    