.wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 15px ;
  border: 2px solid #131211;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: auto;
  grid-template-rows: auto;
}

span {
  color: black;
  background-color: red;
  margin-left: 1em;
  margin-right: 2px;
  font-size: 30px;
}

h1 {
  margin-left: 5em;
}

.round {
  display: inline-block;
  text-align: right;
  font-size: 30px;
}

/* img {
  height: 10em;
  width: 11em;
  align-content: center;
} */

.score {
  text-align: center;
  margin-top: 1em;
  font-size: 50px;
}

* {
  box-sizing: border-box;
}

.wrapper > div {
  background: gray;
  padding: 1em;
}

.wrapper > div:nth-child(3) {
  background: black;
  color: #eee;
}

.wrapper > div:nth-child(1) {
  background: red;
  color: #eee;
}

.wrapper > div:nth-child(5) {
  background: BLUE;
  color: #eee;
}

