<div id="rank">
  <p>Click the button to sort the table alphabetically, by name:</p>
  <p><button (click)="sortTable()">Sort</button></p>
    <table id="myTable">

        <tr>
          <th >Team</th>
          <th >Rank</th>
          <th >PCT</th>
        </tr>
        
      
      
        <tr *ngFor="let rank of ranks" >
      
          <td>{{rank.team}}</td>
          <td>{{rank.rank}}</td>
          <td>{{rank.wins}}</td>
      
      
        </tr>
      
        
     
      </table>
    
     


  </div>