
<ul class="logo" style="list-style-type:none;">
</ul>
<ul>
<nav>
    <li> <a routerLink="/home"> HOME </a> </li>
    <li> <a routerLink="/teams"> Teams </a> </li>  
    <li> <a routerLink="/games"> Games </a> </li>
    <li> <a routerLink="/UpcomingGame"> Up Coming Game </a> </li>  
    <li> <a routerLink="/teamselect"> TeamSelect </a> </li>
    <!-- <li> <a routerLink="/Adelaide"> Ladder </a> </li> -->
</nav>
</ul>
<div class="body">
   
        
            <router-outlet></router-outlet>
        <!-- <app-test-git></app-test-git> -->
 </div>
    