
<div id="TeamDiv">
    <h2>TEAMS LIST</h2>
</div>
<div  style="margin-top: 2em;">
  <table>
    <tr>
        <th>LOGO</th>
        <th>Team</th>
        <th>Detail1</th>
        <th>Detail</th>
      </tr>
      
    
      <tr *ngFor="let team of teams">
        <td><img src="https://squiggle.com.au/{{team.logo}}"></td>
        <td>{{team.name || uppercase}}</td>
        <td><button type="button" (onclick)="onSelect(team)">Stats</button></td>
        <td><button type="button" (onclick)="onSelect(team)"> Leader</button> </td>
    
      </tr>
    
      
    
    </table>
 
 </div>
 